{% extends 'mentor/_base.html' %}

{% block title %}
    Auriga - Mentor
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <h2>Welcome {{ full_name }}</h2>
                <button id="get-mentors-button">Get Mentees</button>
                <button id="logout-button">Logout</button>
                <ul class="user-list" id="mentors-list"></ul>
            </div>
        </div>
    </div>
{% endblock %}