{% extends 'mentee/_base.html' %}

{% block title %}
    Auriga - Mentee
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <h2>Welcome Mentee</h2>
                <button class="popup-button" data-popup="sign-in">
                    Sign In
                </button>
                <button class="popup-button" data-popup="sign-up">
                    Sign Up
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <a class="footer-link" href="/mentor">I'm a mentor</a>
            </div>
        </div>
    </div>
    {% include 'mentee/popup/sign_in.html' %}
    {% include 'mentee/popup/sign_up.html' %}
{% endblock %}